/* Standard declarations */
html {
	-webkit-font-smoothing: antialiased;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	/* slight gray on whole page to see what's covered */
    background-color: LightGray;
    /* Global font declarations */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #838994;
    letter-spacing: 0.03rem;
}

div {
	/* adding a border around all 'div's to see where they sit */
    border: 1px solid Chocolate;
}

/* Navigation Banner and Links */
.top-navigation {
    background-color: #fff;
}

.top-navigation > .content {
	width: 52.124rem;
	height: 4.375rem;
	margin: 0 18rem;
	border: 0;
	padding: 0 0.938rem;
}

.top-navigation .content > .logo {
	height: 4.375rem;
}
.top-navigation .content > .links {
	text-decoration: none;
	list-style-type: none;
	float: right;
	margin-top: 1.7rem;
	padding: 0;
	margin-bottom: 0;
}

.top-navigation .links > li {
	display: inline-block;
	margin-left: 1.563rem;
}

.top-navigation .links > .active {
	color: #4c5058;
    font-weight: 500;
}

.top-navigation .links > li:link {
	text-decoration: none;
}


.top-navigation .links > li:visited {
	text-decoration: none;
}


.top-navigation .links > li:hover {
	text-decoration: none;
    color: #000;
}

/* Main - Introduction Canvas */

/* Section - Product Details */

/* Footer - Social Networks */