/* For visibility while testing */
body {
	/* slight gray on whole page to see what's covered */
    background-color: LightGray;
    /* Global font declarations */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #838994;
    letter-spacing: 0.03em;
}

div {
	/* adding a border around all 'div's to see where they sit */
    border: 1px solid Chocolate;
}

/* Navigation Banner and Links */
.top-navigation {
    background-color: #fff;
}

.top-navigation > .content {
	width: 60rem;
	height: 4.375rem;
	margin: 0 18rem;
	border: 0;
	padding: 0 0.938rem;
}

.top-navigation .content > .logo {
	/* actual example has logo flush with div content*/
	/* margin-left: 0.875rem;*/
	height: 4.375rem;
}
.top-navigation .content > .links {
	text-decoration: none;
	list-style-type: none;
	float: right;
	margin: 1.7rem 0 0 0;
}

.top-navigation .content .links > li {
	display: inline-block;
}

/* Main - Introduction Canvas */

/* Section - Product Details */

/* Footer - Social Networks */